development:
  site_url: soupstraw.com
  hue_address: 10.0.0.100
  home_username: username
  home_password: password
  datadog_key: somethingsomething
  is_deafguy: false
  is_media_center: false
  media_center_url: 10.0.0.101
  living_room_lights:
    - 1
    - 2
  bedroom_lights:
    - 3
